* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
}

:root {
    --navbar-color: #7671bf;
    --text-color: #ebebeb;
    --button-reset-bgcolor: #d52e2e;
}

.settings {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--navbar-color);
    padding: 0 15px;
    gap: 55px;
}

.setting {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setting h2 {
    color: var(--text-color);
    margin-right: 15px;
}

.setting input {
    width: 80px;
    cursor: pointer;
}

.setting select {
    height: 60%;
    border-radius: 8px;
    padding: 0 5px;
    background: #f7e7f4;
    cursor: pointer;
    outline: none;
    font-size: 16px;
}

button.reset {
    height: 70%;
    padding: 0px 15px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    background: var(--button-reset-bgcolor);
    border: 1px outset black;
    color: var(--text-color);
    font-weight: bold;
}

button.reset:hover {
    border: 1px inset gray;
    box-shadow: 1px 1px 3px 0px rgb(197, 196, 121);
    transform: scale(1.04);
}

button.reset:active {
    border: 1px inset gray;
    box-shadow: 1px 1px 3px 0px rgb(130, 187, 130);
    transform: scale(0.96);
}

.canvas {
    display: block;
    background: #d6d9ca;
}
